/* Write your code here */
.reviews-app-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .carousel-container {
    width: 85%;
  }
}

.arrow-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 30vh;
}

.user-profile {
  height: 30vh;
  width: 100%;
}

.flex-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -30vh;
}

.user-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
}
.company-name {
  color: gray;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 900;
}

.description {
  color: gray;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 900;
}
